.boxes {
    border: .1px solid;
    width: 99px;
    height: 99px;
    text-align: center;
    font-size: 30px;
 }
 .container{ 
    display: flex;
    justify-content: end;
 }
 #box5{margin-right: auto;
}

.card-body{
   width: 250px;
   height: 150px;
   border-radius: 10px;
   border: 4px solid black;
}